LinkedIn PMP Question Automation.json
{
  "name": "LinkedIn PMP Question Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                4
              ],
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -48
      ],
      "id": "1ba6457e-0c40-4d62-b1b1-c252468c694a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc",
          "mode": "list",
          "cachedResultName": "PMP Question Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 84176327,
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit#gid=84176327"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B1:B1000"
            }
          },
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        -48
      ],
      "id": "47fa9714-9efa-4b41-86f7-7427b8847943",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WX9Zk6rEHs8JIbnd",
          "name": "Google Sheets - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert PMP exam question writer and LinkedIn content strategist for PM Waqas, an IT Project Manager and LinkedIn Top Voice building an audience of PMP aspirants and project management professionals.\n\nYour job is to generate one high-quality, scenario-based PMP exam question that is:\n- Exam-accurate (PMI PMBOK 7, Agile Practice Guide, Agile, Hybrid, ECO 2023 difficulty level)\n- Engaging enough that professionals want to stop scrolling and answer it\n- Thought-provoking enough that people debate the answer in comments\n\nTOPIC ROTATION — Pick ONE topic from this list, rotating through all of them evenly and never repeating the same topic twice in a row:\n- Scope Management\n- Schedule Management\n- Cost Management\n- Quality Management\n- Resource Management\n- Communications Management\n- Risk Management\n- Procurement Management\n- Stakeholder Engagement\n- Integration Management\n- Change Management\n- Agile & Hybrid Methodologies\n- Benefits Realization\n- Governance & Compliance\n- Leadership & Team Performance\n\nSCENARIO RULES:\n- Set the scenario in a realistic industry (IT, banking, construction, healthcare, retail, government, etc.)\n- Make it situation-based — the reader must think, not just recall a definition\n- The scenario should be 3-5 sentences long — enough context to make it challenging\n- Include a clear question at the end (e.g. \"What should the project manager do FIRST?\", \"What is the BEST course of action?\", \"Which response is MOST appropriate?\")\n\nANSWER OPTION RULES:\n- All 4 options must be plausible — no obviously wrong answers\n- Only ONE is clearly correct according to PMI methodology\n- Keep each option under 15 words\n- Options should make people second-guess themselves — this drives comments\n\nEXPLANATION RULES:\n- Explain why the correct answer is right using PMI methodology\n- Explain why each wrong answer is tempting but incorrect\n- Keep it under 100 words\n- Write it so a PMP aspirant learns something valuable from reading it\n\nReturn ONLY valid JSON, no extra text, no markdown, no code blocks:\n{\n  \"topic\": \"...\",\n  \"scenario\": \"...\",\n  \"optionA\": \"...\",\n  \"optionB\": \"...\",\n  \"optionC\": \"...\",\n  \"optionD\": \"...\",\n  \"correctAnswer\": \"A\",\n  \"explanation\": \"...\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        48,
        -48
      ],
      "id": "d1bcd226-5bc1-4b4e-90c4-270bf8ae11f4",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "RhUuHFD4fBWpwwP6",
          "name": "Anthropic - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text;\n\n// Remove markdown code blocks if Claude added them\nconst cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Parse the JSON\nconst q = JSON.parse(cleaned);\n\n// Get current question number from Node 2 and add 1\nconst currentNumber = $('Get row(s) in sheet').first().json.Value;\nconst newNumber = parseInt(currentNumber) + 1;\n\n// Format the date\nconst today = new Date();\nconst dateStr = today.toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Build the LinkedIn post text\nconst postText = `PMP Question #${newNumber} | ${q.topic} - ${dateStr}\n\n${q.scenario}\n\nA. ${q.optionA}\nB. ${q.optionB}\nC. ${q.optionC}\nD. ${q.optionD}\n\n👇 Drop your answer in the comments! Is it A, B, C, or D?\n\n♻️ Repost to share with your network.\n➕ Follow Waqas Munawar for more insights on effective project management and delivery.\n🚀 I’m building practical AI tools and trainings for project managers -check the link in the comments to join the waitlist and get early access.`;\n\n// Build the comment text\nconst commentText = \"✅ The correct answer is \" + q.correctAnswer + \".\\n\\n\" + q.explanation + \"\\n\\n📌 Follow for Question #\" + (newNumber + 1) + \" coming soon!\";\n\nreturn {\n  questionNumber: newNumber,\n  postDate: dateStr,\n  topic: q.topic,\n  scenario: q.scenario,\n  optionA: q.optionA,\n  optionB: q.optionB,\n  optionC: q.optionC,\n  optionD: q.optionD,\n  correctAnswer: q.correctAnswer,\n  explanation: q.explanation,\n  postText: postText,\n  commentText: commentText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -48
      ],
      "id": "fa30b5c4-c802-4a9f-abc5-39e6c5013e91",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "template_id": {
          "__rl": true,
          "value": "ywnv6rin5seaz",
          "mode": "list",
          "cachedResultName": "PMP Question Card"
        },
        "configurationMode": "=simple",
        "layers": {
          "layerItems": [
            {
              "layerId": "post_date|text",
              "property": "text",
              "textValue": "={{ $json.postDate }}"
            },
            {
              "layerId": "question_number|text",
              "property": "text",
              "textValue": "=Daily PMP Challenge #{{ $json.questionNumber }}"
            },
            {
              "layerId": "topic|text",
              "property": "text",
              "textValue": "={{ $json.topic }}"
            },
            {
              "layerId": "scenario|text",
              "property": "text",
              "textValue": "={{ $json.scenario }}"
            },
            {
              "layerId": "option_a|text",
              "property": "text",
              "textValue": "=A. {{ $json.optionA }}"
            },
            {
              "layerId": "option_b|text",
              "property": "text",
              "textValue": "=B. {{ $json.optionB }}"
            },
            {
              "layerId": "option_c|text",
              "property": "text",
              "textValue": "=C. {{ $json.optionC }}"
            },
            {
              "layerId": "option_d|text",
              "property": "text",
              "textValue": "=D. {{ $json.optionD }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-placid.placid",
      "typeVersion": 1,
      "position": [
        592,
        -48
      ],
      "id": "cd1d8c94-680e-484d-9ace-cf787e5cdc94",
      "name": "Create an image from a template",
      "credentials": {
        "placidApi": {
          "id": "50EtXEGyCQH8Jd7H",
          "name": "Placid - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "person": "KHmZ6nERUV",
        "text": "={{ $('Code in JavaScript').item.json.postText }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1024,
        -48
      ],
      "id": "9525b691-973c-4c9a-a777-92fc3c1724c7",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "7br6uYLDyu2bPVsG",
          "name": "LinkedIn - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -48
      ],
      "id": "e0b78b89-0207-4dd8-ba71-a8c730249535",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc",
          "mode": "list",
          "cachedResultName": "PMP Question Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 84176327,
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit#gid=84176327"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Value": "={{ $('Code in JavaScript').first().json.questionNumber }}",
            "CurrentQuestion": "CurrentQuestion"
          },
          "matchingColumns": [
            "CurrentQuestion"
          ],
          "schema": [
            {
              "id": "CurrentQuestion",
              "displayName": "CurrentQuestion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        240
      ],
      "id": "9237e38a-706f-492c-ad53-c78d0a7a74bf",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WX9Zk6rEHs8JIbnd",
          "name": "Google Sheets - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc",
          "mode": "list",
          "cachedResultName": "PMP Question Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kvg-d-9FIyyaMjiXSQaMg4wVx00OY_4WNrvrRVARZc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QuestionNumber": "={{ $('Code in JavaScript').item.json.questionNumber }}",
            "Date": "={{ $('Code in JavaScript').item.json.postDate }}",
            "Topic": "={{ $('Code in JavaScript').item.json.topic }}",
            "Scenario": "={{ $('Code in JavaScript').item.json.scenario }}",
            "OptionA": "={{ $('Code in JavaScript').item.json.optionA }}",
            "OptionB": "={{ $('Code in JavaScript').item.json.optionB }}",
            "OptionC": "={{ $('Code in JavaScript').item.json.optionC }}",
            "OptionD": "={{ $('Code in JavaScript').item.json.optionD }}",
            "CorrectAnswer": "={{ $('Code in JavaScript').item.json.correctAnswer }}",
            "Explanation": "={{ $('Code in JavaScript').item.json.explanation }}",
            "PostedURL": "=https://www.linkedin.com/feed/update/{{ $('Create a post').item.json.urn }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "QuestionNumber",
              "displayName": "QuestionNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scenario",
              "displayName": "Scenario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OptionA",
              "displayName": "OptionA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OptionB",
              "displayName": "OptionB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OptionC",
              "displayName": "OptionC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OptionD",
              "displayName": "OptionD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CorrectAnswer",
              "displayName": "CorrectAnswer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Explanation",
              "displayName": "Explanation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PostedURL",
              "displayName": "PostedURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        240
      ],
      "id": "9331ddb2-faf7-4cc2-9cfc-976aaf26144c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WX9Zk6rEHs8JIbnd",
          "name": "Google Sheets - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        240
      ],
      "id": "a33d2f87-2d56-4c51-b667-1473d33dd4a0",
      "name": "Wait",
      "webhookId": "2801c2de-88c2-447a-915d-de832ba71907"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ $('Create a post').first().json.urn }}/comments\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"actor\": \"urn:li:person:KHmZ6nERUV\", \"message\": { \"text\": $('Code in JavaScript').first().json.commentText } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        240
      ],
      "id": "1260151f-244f-4941-809c-3bdb33c13071",
      "name": "Post The Answer",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "7br6uYLDyu2bPVsG",
          "name": "LinkedIn - PM Waqas"
        }
      }
    },
    {
      "parameters": {
        "content": "## LinkedIn PMP Question - Auto-Post Workflow\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTRIGGER: Fires every Monday & Thursday at 7PM PKT (= 9AM New York / 2PM London)\n\nSTEP 1 - Get row(s) in sheet: Reads the latest question number from the Tracker tab so we always know where to continue from.\nSTEP 2 - Message a model: Asks Claude AI to generate a brand new PMP exam question and return it as structured JSON.\nSTEP 3 - Code in JavaScript: Adds +1 to the question number, formats the LinkedIn post text, and builds the answer comment text.\nSTEP 4 - Placid: Fills the image card template with the question data and returns a hosted image URL.\nSTEP 5 - HTTP Request: Downloads the Placid image as a binary file so LinkedIn can accept it as an upload.\nSTEP 6 - Create a post: Publishes the formatted question text and image card to LinkedIn as a public post.\nSTEP 7 - Update Row: Saves the new question number back to the Tracker tab so the next run increments correctly.\nSTEP 8 - Append Row: Logs the full question, options, answer, and explanation to Sheet1 as a future chatbot dataset.\nSTEP 9 - Wait: Pauses the workflow for 48 hours to maximise engagement before revealing the answer.\nSTEP 10 - HTTP Request: Posts the correct answer and explanation as a comment, re-activating the post in the LinkedIn feed.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nBuilt by PM Waqas | Channel: @PMWaqas",
        "height": 384,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -464
      ],
      "id": "91b750fd-5fd0-4977-8171-5c84d52d9e5a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-06T19:00:09.007+05:00",
          "Readable date": "April 6th 2026, 7:00:09 pm",
          "Readable time": "7:00:09 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "06",
          "Hour": "19",
          "Minute": "00",
          "Second": "09",
          "Timezone": "Asia/Karachi (UTC+05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an image from a template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image from a template": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Post The Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post The Answer": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7af2ab35-9274-4d86-917c-1ce3b226afdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d426075296b981ff711d6a3dee98440419d2fc444e9dadeddf3afbb7070069d3"
  },
  "id": "EzKaLNnxi6pbVlnv",
  "tags": [
    {
      "updatedAt": "2025-12-26T12:05:08.701Z",
      "createdAt": "2025-12-26T12:05:08.701Z",
      "id": "K5OFDgYDN7WfQeYg",
      "name": "LinkedIn"
    },
    {
      "updatedAt": "2025-12-26T12:05:20.479Z",
      "createdAt": "2025-12-26T12:05:20.479Z",
      "id": "sUGKo2AsP2Z2xxWI",
      "name": "Content Automation"
    }
  ]
}