video-03-invoice-automation.json
{
  "name": "003_Invoice Automation - Build With Waqas",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y",
          "mode": "list",
          "cachedResultName": "003_Invoice Log - Build With Waqas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -16
      ],
      "id": "4ee49561-859a-4b9d-bc1a-5056199ffca1",
      "name": "Watch Invoice Sheet",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "SQy9m9Ivdd7apLta",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst clientName = data['Client Name'];\nconst clientEmail = data['Client Email'];\nconst services = data['Services'];\nconst amount = data['Amount'];\nconst currency = data['Currency'] || 'GBP';\n\nconst today = new Date().toLocaleDateString('en-GB', {\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst invoiceNumber = data['Invoice No'];\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; color: #333; margin: 0; padding: 40px; }\n    .header { display: flex; justify-content: space-between; margin-bottom: 40px; }\n    .business-name { font-size: 24px; font-weight: bold; color: #1a1a1a; }\n    .invoice-title { font-size: 32px; font-weight: bold; color: #1a1a1a; text-align: right; }\n    .invoice-meta { text-align: right; color: #666; margin-top: 8px; }\n    .divider { border: none; border-top: 2px solid #e0e0e0; margin: 30px 0; }\n    .section { margin-bottom: 30px; }\n    .label { font-size: 12px; color: #999; text-transform: uppercase; margin-bottom: 4px; }\n    .value { font-size: 15px; color: #333; }\n    table { width: 100%; border-collapse: collapse; margin: 30px 0; }\n    th { background: #f5f5f5; padding: 12px; text-align: left; font-size: 13px; color: #666; text-transform: uppercase; }\n    td { padding: 16px 12px; border-bottom: 1px solid #f0f0f0; }\n    .total-row td { font-weight: bold; font-size: 18px; border-bottom: none; padding-top: 20px; }\n    .footer { margin-top: 50px; font-size: 13px; color: #999; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <div>\n      <div class=\"business-name\">Munawar Automation</div>\n      <div style=\"color: #666; margin-top: 8px; font-size: 14px;\">\n        waqas@munawarautomation.com<br>\n        www.munawarautomation.com\n      </div>\n    </div>\n    <div>\n      <div class=\"invoice-title\">INVOICE</div>\n      <div class=\"invoice-meta\">\n        <strong>${invoiceNumber}</strong><br>\n        Date: ${today}\n      </div>\n    </div>\n  </div>\n\n  <hr class=\"divider\">\n\n  <div class=\"section\">\n    <div class=\"label\">Billed To</div>\n    <div class=\"value\"><strong>${clientName}</strong><br>${clientEmail}</div>\n  </div>\n\n  <table>\n    <thead>\n      <tr>\n        <th>Description</th>\n        <th style=\"text-align: right;\">Amount</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr>\n        <td>${services}</td>\n        <td style=\"text-align: right;\">${currency} ${parseFloat(amount).toFixed(2)}</td>\n      </tr>\n      <tr class=\"total-row\">\n        <td>Total</td>\n        <td style=\"text-align: right;\">${currency} ${parseFloat(amount).toFixed(2)}</td>\n      </tr>\n    </tbody>\n  </table>\n\n  <hr class=\"divider\">\n\n  <div class=\"footer\">\n    Thank you for your business. Please make payment within 30 days.\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html,\n    clientName,\n    clientEmail,\n    invoiceNumber,\n    amount,\n    currency,\n    services\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -16
      ],
      "id": "828c0d68-b00f-415f-b3ce-8c3782df6dbd",
      "name": "Build Invoice HTML"
    },
    {
      "parameters": {
        "operation": "URL/HTML to PDF",
        "convertType": "htmlToPDF",
        "html": "={{ $json.html }}",
        "advancedOptions": {
          "name": "={{ $json.invoiceNumber }}.pdf"
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "c3a3ecf8-bdb6-44f7-9592-25f58353ba6a",
      "name": "Convert to PDF",
      "credentials": {
        "pdfcoApi": {
          "id": "Ya7EMmDkTfjWNDYO",
          "name": "PDF.co account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -16
      ],
      "id": "2ae86645-34b2-460e-b861-dcd8e3e3b12d",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build Invoice HTML').item.json.clientEmail }}",
        "subject": "=Invoice {{ $('Build Invoice HTML').item.json.invoiceNumber }} — Munawar Automation",
        "message": "=<p>Hi {{ $('Build Invoice HTML').item.json.clientName }},</p>\n\n<p>Please find your invoice attached for the following work:</p>\n\n<p><strong>{{ $('Build Invoice HTML').item.json.services }}</strong></p>\n\n<p>Amount due: <strong>{{ $('Build Invoice HTML').item.json.currency }} {{ $('Build Invoice HTML').item.json.amount }}</strong></p>\n\n<p>Please make payment within 30 days. If you have any questions, feel free to reply to this email.</p>\n\n<p>Thank you for your business.</p>\n\n<p>\nBest regards,<br>\nWaqas Munawar<br>\nMunawar Automation<br>\nwaqas@munawarautomation.com\n</p>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        384,
        -16
      ],
      "id": "83b85dee-7c56-4df8-b99f-0622ce8938c6",
      "name": "Send Invoice Email",
      "webhookId": "d06f2f63-b754-4bf4-943d-27d5ce380d6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "mQKnXT3o2A0ESPJd",
          "name": "Gmail (Munawar Automation/prod)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y",
          "mode": "list",
          "cachedResultName": "003_Invoice Log - Build With Waqas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RKtOtDwAGD4cAmVLG3pMsPJXJFNpoWrTEqV68FF0k1Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent",
            "Sent At": "={{ new Date().toLocaleString('en-GB') }}",
            "Invoice No": "={{ $('Watch Invoice Sheet').item.json['Invoice No'] }}"
          },
          "matchingColumns": [
            "Invoice No"
          ],
          "schema": [
            {
              "id": "Invoice No",
              "displayName": "Invoice No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Services",
              "displayName": "Services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent At",
              "displayName": "Sent At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -16
      ],
      "id": "f888d46d-b1bd-4c03-a4cd-2060a494d5bd",
      "name": "Mark as Sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WX9Zk6rEHs8JIbnd",
          "name": "Google Sheets - PM Waqas"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Invoice Sheet": {
      "main": [
        [
          {
            "node": "Build Invoice HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Invoice HTML": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Send Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Email": {
      "main": [
        [
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "73b7b117-1841-4964-9f60-99aee67fc705",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d426075296b981ff711d6a3dee98440419d2fc444e9dadeddf3afbb7070069d3"
  },
  "id": "NU7ym2Ud3TaEJQ6J",
  "tags": [
    {
      "updatedAt": "2026-04-28T07:53:24.881Z",
      "createdAt": "2026-04-28T07:53:24.881Z",
      "id": "96Z9B5Zn2TrjUagH",
      "name": "BWW"
    }
  ]
}